
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        background-color:rgb(33, 33, 36)
        }

    ul.var {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(0, 0, 0);
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        position: auto;
        width: 100%;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover:not(.active) {
        background-color: rgb(104, 1, 1);
      }

      .active {
        background-color: #ff0000;
      }

    div.galeria {
        padding: 5%;
        display: block;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100%;
        float: left;
    }

    div.hp{
        display: block;
        float: left;
        margin-top: 50%;
        margin: 2%;
        height: auto;
        width: 250px;

    }

    div.hp img {
        float: left;
        height:auto;
        width:100%; 
    }

    div.text {
        background-color: #ff0000;
        width: 100%;
        border: none;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        float: left;
    }

    div.text a{
        text-decoration: none;
        color: white;
    }

    div.titulo {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-weight: bold;
        margin: 20px;
    }

    div.ongi {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    div.infor {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        width: 500px;
        margin: 20px;
        margin-top: 85px;
        float: left;
        background-color: rgb(88, 1, 1);
        height: 390px;
        padding: 30px;
    }

    div.infor2 {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        width: 500px;
        height: 390px;
        margin: 20px;
        margin-top: 85px;
        float: left; 
        padding: 30px;
        background-color: rgb(88, 1, 1);
    }

    div.irudia1 {
        width: 150px;
        height: 150px; 
        float: left;
        margin-top: 85px; 
    }

    div.div1 {
        width: 39%;
        height: 300px;
        float: left;
    }

    div.div2 {
        width: 300px;
        height: 300px;
        float: left;
        left: 200px;
    }

    table, td, th {  
        border: 3px solid white;
        text-align: center;
        padding: 2px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      table {
        border-collapse: collapse;
        width: 100%;
        padding: 2px;
      }
      
      th, td {
        padding: 2px;
      }

      footer {
        background:rgb(33, 33, 36);
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        font-size: 1em;
        text-align: center;
        color: white;
      }